@model IEnumerable<LeedsSharp.ElasticSearch.Common.Models.Search.User>

<ul>
	@foreach (var user in Model.OrderByDescending(x => x.SocialChannels.Max(s => s.Followers)))
	{
		<li>
			@user.DisplayName

			<ul>
				@foreach (var channel in user.SocialChannels.OrderByDescending(x => x.Followers))
				{
					<li>@channel.Name - @channel.Url - @channel.Followers.ToString("N0")</li>
				}
			</ul>
		</li>
	}
</ul>

@using (Html.BeginForm("Randomise", "Home", FormMethod.Post))
{
	<input type="submit" value="Randomise" />
}


@using (Html.BeginForm("PerformIndex", "Home", FormMethod.Post))
{
	<input type="submit" value="Index" />
}


@using (Html.BeginForm("Queue", "Home", FormMethod.Post))
{
	<input type="submit" value="Queue" />
}
